<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Cliente</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script type="text/javascript"
    src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=XZy-El7KNphCI4IfKuuD1ip3z_WAni0H3UmMZlIrhn5Cx3cC5ioo-yhEin3h-09a0rw2BO0WjrFRt5lU01rxUaP3s7kjS2Gbw4q2-kvTmg12zFCm5jD-imNlhzBa-EICgRJ_UoLYuInDMzoBi2erYkwPAB5kYgFMzt7jjBiW0H8ThGvbwNsAj8V4LRkJur-SDX8k4VPVEKHrQ5Sdjp2K4FcZqKfbF2ImZQeK37ifF6WpZ4JoqzNUs5BjFNMO4mULSjSSmiZ1jsGz8C5zOIlA4T6CMNLGJZV9bLNJx3dyEXxzMWlud-7hE7OTdVDDHf3wQb6BhaioXBqnrkRHlRmTeRiV5OhVO7EXLvijS-FtsWjTULeRJ5XpG7D5Czpcg9NjVEobh3ypYGxg7oDWrc3NnkzoG_B5IV8u98NOpyPgzJ_jDgHEOWxxdssup5SDT-TNMQW-bSUuqRSzUlQ7tkG8yu5V5_5KDSDiDbL0h1vrZKBSgSJaTdDm-5-eP3-ZBmyh06aRQ0kgfCVyIpHddj3k2xTF6Zc-Es-fXaJmgRk-Jug6TLlMze95NwImMz84IJV6htHEg4MkpDEcg3Me6eQB5ZzBzC9Hewe-xpY-lGUafrjjvu9R5xbiH2Rm2ptnp80CeiARb-RlgLnI0rSca31rXvnpOsGg6gHd4VcW0KEHWUwCKGlOFHIdQL1WoCtQPYW1f6Xgy2oqJYUq1YrPGOIOVB1gbVpVE3aUMHGfyz5x3di6NdNdpeuE2fSYu7ndbVP1vWsSZnSGj_TddXE9We1zPsReYrii7XaL_hk9ogsEEkYfz8Vr1_FR0tC2GvPP9AFR55sR7Y3T0hivSwLUpEI_i7WVZTPEhv-bzOmI-Q3IohsJ3MLYMUqQnXe6PpfRTE4xRJ5QhZ4hCNSFpfPmlNLq8MBNt4aVw3va2v6O99R5eo93bPiJkyh8DEXH8-E6N5s04B3K7IN69HJw27J_cEbIiDK4gm8zSFvptKNrJq7KGtmDEfUghgDHGCjJ9Y2ASaZ3odZjwpCEG2qqn_W_5tPmg5MWrAxBKBYbu28JAL5Niz5-FkltezdHjozSP-JokoutxWv928OEsf_RbkUypGeiooVQjTGM1Eq3O-qsZ0n0LnlDnMiesss_cGNFzv_njzVLrCKZlhDfwY3z6xhpej3KE0CORYYSod7VGwFM2BFSgP0apmL6DFLB1_HSdq-nyPrLah4WLTMvYpfVrNaHXaxfxmOeg7UASqPc6Id9zdZxOWSev-9iJu4h0KEFcyRec5_5hx88lDxzzxI7Vq7oPcZQFXeLcQVf1Ly94z3UOSoiegwGhFsavB1GvIQKVgRvXmU81P84TjR1DuPDbXmWpdjwmqY3TwbJHFYXyjSYuvJSmZAJXxDehBmy_1j2tCpCqfCUVVirmdHdpaS99VEBfRyOCpzh00KZ5ceGJWNDbh2xNaSCrmdcoI91O86gBwmCu11vFrv8bSEWE802Pov_j_uS2CJ8SMcP0gV_PP-3YTavWlKuS8e8Co2D3zHeMJl1EseiFPldSTNgk46agVWz5l_yQ5--iUuIvSOOmALa2Iu5RHLdadOt5_SEN616qqZqJlAI3u4zpY4E_mBgh_892IB-mBeN-Gwfrl73zMeRtpW5IKxXGsudgvwmarSoLyxvE1ng6xaEK_IeN7dsCUpyvXDB_Dk6B2l7Id4ZM8JppAE0E6mFNvuljQ03-PBTaKfd2Z8W_PygenjbY_CziV7T85sHuvQxdNMvXCg92hnbTLgZVpygVzNBAVSC_k-pBCbK-Gy9Cm9Q5PYK8J8O_toc9TmO9aB49wcNJTQl4PjTUm4DH9Y"
    charset="UTF-8"></script>
</head>

<title>Handlebars</title>
</head>

<body>
  {{{body}}}
</body>

</html>